*
{
    padding:0;
    margin: 0;
}
#nav-item
{
    display: flex;
    gap: 20px;
}
#nav-item a
{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
    height: 50px;
}
table ,th, td{
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
    
}
